<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitcamp.java106.pms.dao.StudyJoinedMemberDao">

  <resultMap type="StudyJoinedMember" id="StudyJoinedMemberMap">
    <id column="stdno" property="studyNo"/>
    <result column="memno" property="memNo"/>
    <result column="rdt" property="registedDate"/>
    <result column="grade" property="grade"/>
    <collection property="studyList" column="stdno" 
        ofType="bitcamp.java106.pms.domain.StudyInfo" select="getStudyInfoList">
    </collection>
    <collection property="memberList" column="memno" 
        ofType="bitcamp.java106.pms.domain.Member" select="getMemberList">
    </collection>
  </resultMap>
    
  <insert id="insert" parameterType="StudyJoinedMember" 
        useGeneratedKeys="true" keyColumn="stdno" keyProperty="studyNo">
    insert into study_joined_member(stdno,memno,rdt,grade) 
    values(#{studyNo},#{memNo},now(),#{grade})
  </insert>  
    
 <!-- <select id="selectList" parameterType="int" resultMap="StudyJoinedMemberMap">
  SELECT 
    j.stdno, j.memno, j.rdt, j.grade, s.name, s.mprs, s.ctgr, m.mname, m.tel
  FROM 
    study_joined_member j 
    left join study_info s on j.stdno = s.stdno 
    left join member m on j.memno = m.memno 
  WHERE s.stdno = #{value};
  </select> -->

  <select id="selectList" parameterType="int" resultMap="StudyJoinedMemberMap">
	  SELECT * FROM study_joined_member WHERE stdno = #{value};
  </select>

  <select id="getStudyInfoList" resultType="bitcamp.java106.pms.domain.StudyInfo"> 
    select name, mprs as maxPeople, ctgr as category from study_info where stdno=#{stdno} 
  </select>

  <select id="getMemberList" resultType="bitcamp.java106.pms.domain.Member"> 
    select mname as name, tel from member where memno=#{value} 
  </select>

</mapper>







